In [20]:
def graph(query):
    
    %matplotlib notebook
    import matplotlib.pyplot as plt
    import numpy
    from numpy import sin
    from numpy import cos
    import pandas as pd
    import cx_Oracle as oci
    from datetime import datetime
    
    #DB Connecion    
    conn = oci.connect("test/1234@192.168.0.52:32764/xe", charset='utf8')
    cursor.execute("selet count(*) from article")
    
    #timestamp 추가
    df['timestamp'] = pd.to_datetime(df["일자"],format='%Y%m%d', errors='ignore')
    df['timestamp']

    #timestamp 3개로 나누기
    df['year'] = df["timestamp"].dt.year
    df['month'] = df["timestamp"].dt.month
    df['day'] = df["timestamp"].dt.day

    #날짜 str로 바꾸기 왠지몰라
    df['year'] = df['year'].astype(int)
    df['month'] = df['month'].astype(int)
    df['day'] = df['day'].astype(int)

    #DB Connecion 해서 가져오기
    keyword = SELECT * FROM article WHERE article_content LIKE "%이명박%" 
    period = SELECT * FROM article WHERE month < %s% AND month > %% ORDER BY DATE;
    SELECT hire_date, article_date, EXTRACT(YEAR FROM (SYSDATE-hire_date) YEAR TO MONTH) "Years" 
  2  FROM employees WHERE ROWNUM <= 5;
    SELECT article_date FROM v$nls_parameters WHERE REGEXP_LIKE(parameter, 'NLS_(DATE|TIME).*');
    
    
    for row in cursor:
        total = row[0]
    t=np.arrange(total)
    cursor.execute("select article_content, article_date from article")
    keyword = []
    period = []
    
    for row in cursor:
        keyword.append(row[0])
        period.append(row[1])
    bar_with = 0.3
    try:
        with conn.cursor() as curs:
            #디비에서 article_sample 가져오기
            sql = "'select * from article_sample'"
            #화면에 출력
            curs.execute(sql)
            rs = curs.fetchall()
            for row in rs:
                print(row)
    finally:
        conn.close()

SyntaxError: invalid syntax (<ipython-input-20-a9b9323364ba>, line 14)

In [18]:
        if searchtype == 'title':
            a = B_list.objects.filter(title__icontains=searchkeyword)

NameError: name 'rs' is not defined